%text1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #241D26;
}

%title1 {
  color: #241D26;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

%title2 {
  color: #241D26;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

%text-style {
  color: #848484;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}